<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mksong.mkboard3.mappers.FileMapper">

  <insert id="registerImage">
    insert into tbl_board_image (uuid, bno, fileName, ord) values
    
    <foreach collection="list" item="item" separator=",">
    (#{item.uuid}, #{item.bno}, #{item.fileName}, #{item.ord})
    </foreach>

  </insert>

  <!-- <select id="getList" resultType="BoardDTO">
    select 
        b.bno, b.title, b.content, b.writer, 
        concat(bi.uuid,'_',bi.fileName) fileName
    from tbl_board b 
    left outer join tbl_board_image bi on bi.bno = b.bno
    where bi.ord = 0 or bi.ord is null
    order by b.bno desc 
    limit #{skip}, #{size}
  </select> -->



</mapper>