<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mksong.mkboard3.mappers.ReplyMapper">

    <select id="selectList" resultType="com.mksong.mkboard3.dto.ReplyDTO">

        select rno , bno , reply , replyer , replydate
        from tbl_reply3 where bno=#{bno} 

    </select>

    <insert id="replyRegist">
      insert into tbl_reply3 (bno, reply, replyer)
      values (#{bno}, #{reply}, #{replyer})
      
      <selectKey resultType="long" keyProperty="rno" order="AFTER">
        select last_insert_id()
      </selectKey>
	  </insert>

    <update id="modifyReply">
		  update tbl_reply3 set reply=#{reply} where bno=#{bno} and rno=#{rno}
	  </update>

    <select id="readOne">
      select rno, bno, reply, replyer
      from tbl_reply3
      where rno = #{rno}
    </select>

    <update id="modify">
      update tbl_reply3
      set
        reply = #{reply}
      where rno = #{rno}
    </update>

    <delete id="delete">
      delete from tbl_reply3 where rno = #{rno}
    </delete>

    
</mapper>