<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<style>

  li {
    border: 1px solid black;
    padding: 5px;
    
    
  }

  tr,
  td {
    border: solid 2px black;
    width: 150px;
    padding: 6px;
  }

  button {
    background-color: rgba(73, 107, 219, 0.708);
    width: 80px;
    height: 30px;
    font-size: 18px;
    border-radius: 10px;

  }
</style>

<body>

  <div>

    <h1>List Page</h1>

    <form method="get" action="/board/regist">
      <button>Register</button>
    </form>
    <br>


    <form>
      <table class="boardTable">
        <tr style="font-weight: bold;">
          <td>Bno</td>
          <td>Title</td>
          <td>Writer</td>
        </tr>

        <tr th:each="dto: ${pageResponseDTO.list}">
          <td>[[${dto.bno}]]</td>
          <td th:data-bno="${dto.bno}">[[${dto.title}]]</td>
          <td>[[${dto.writer}]]</td>
        </tr>
      </table>

    </form>

    <div>
      <ul class="boardUL" style="display: flex; justify-content: space-between; width: 400px; list-style: none;">
      </ul>
    </div>

    <form class="actionForm" action="/board/list" method="get">
      <input type="hidden" name="page" value="3">
      <input type="hidden" name="size" value="10">
    </form>

  
    <script src="/js/pageUtil.js"></script>

  </div>  

  <script th:inline="javascript">

    const boardTable = document.querySelector(".boardTable")
    const actionForm = document.querySelector(".actionForm")
    const pageObj = actionForm.querySelector("input[name='page']")
    const boardUL = document.querySelector(".boardUL")


    boardUL.addEventListener("click", (e) => {
      e.preventDefault()
      e.stopPropagation()      

      const target = e.target
      const pageNum = target.getAttribute("href")

      if(!pageNum){
        return
      }   

      pageObj.value = pageNum

      actionForm.setAttribute("action", `/board/list`)
      actionForm.submit()

    }, false)



    const { page, size } = [[${ pageRequestDTO }]]

    console.log(page, size)

    const { total } = [[${ pageResponseDTO }]]

    console.log("total: " + total)



    const pageLIStr = makePages(page, size, total)

    console.log("boardUL: " + boardUL)

    boardUL.innerHTML = pageLIStr



    boardTable.addEventListener("click", (e) => {

      const target = e.target

      if (!target.getAttribute("data-bno")) {

        return
      }

      const bno = target.getAttribute("data-bno")

      console.log("BNO: " + bno)

      actionForm.setAttribute("action", `/board/read/${bno}`)
      actionForm.setAttribute("method", `get`)
      actionForm.submit()

    }, false)


  </script>


</body>

</html>