<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/lteLayout.html}">

<style>
  div .modify {
    border: 2px solid black; 
    margin-bottom: 4px;
    margin-top: 4px;
    padding: 4px;
  }

  button {
    background-color: rgba(73, 107, 219, 0.708);
    width: 80px;
    height: 30px;
    font-size: 18px;
    border-radius: 10px ;
    
  }

</style>      

<body>

  
  
  <div layout:fragment="content">

    <h1>Modify Page</h1>

    <form method="post" class="actionForm">


      <div class="col-md-6">
        <div class="card card-success">
          <div class="card-body">
            
            <label>NO</label>
              <div class="form-control form-control-lg modify">
                [[${dto.bno}]]
              </div>

            <label>Title</label>
              <div class="form-control form-control-lg modify">
                <input type="text" name="title" th:value="${dto.title}"/>
              </div>  

            <label>Content</label>
              <div class="form-control form-control-lg modify">
                <input type="text" name="content" th:value="${dto.content}"/>
              </div>

            <label>Writer</label>
              <div class="form-control form-control-lg modify">
                [[${dto.writer}]]
              </div>           
  
          </div>
  
        </div>
      </div>

    
      <button class="btn btn-primary btn-secondary btnModify"
                style="width: auto; ">Modify
      </button>
      <button class="btn btn-primary btn-danger btnDelete"
                style="width: auto; ">Delete
      </button>
    </form>
    <br>

    <form method="get" action="/board/list">
      <button class="btn btn-primary btnDelete"
                style="width: auto; ">List
      </button>      
    </form>

    </div>

    <script layout:fragment="script" th:inline="javascript">
      const btnModify = document.querySelector(".btnModify")
      const btnDelete = document.querySelector(".btnDelete")
      const actionForm = document.querySelector(".actionForm")

      btnModify.addEventListener("click", (e) => {

        actionForm.setAttribute("action", `/board/modify/[[${dto.bno}]]`)
        actionForm.submit()
      })

      btnDelete.addEventListener("click", (e) => {

      actionForm.setAttribute("action", `/board/delete/[[${dto.bno}]]`)
      actionForm.submit()
      })


    </script>
  
</body>
</html>